<!-- Contact Section -->
<section id="contact">
<div class="container">
   
<div class="row">
 <div class="col-lg-12 text-center">
 	<h2>Contacte con nosotros para...</h2>
     	<hr class="star-primary">
 </div>
</div>
    
<div class="row">
 <div class="col-lg-12 text-center">
 	<h3>Telecomunicaciones</h3>
  </div>
</div>

<div class="row control-group">
 <div class="col-lg-12 text-center">
    	<p>Instalaci&oacute;n y reparaci&oacute;n de TDT</p>
 </div>
</div>

<div class="row control-group">
 <div class="col-lg-12 text-center">
    	<p>Instalaci&oacute;n y reparaci&oacute;n de TV SaT</p>
 </div>
</div>

<div class="row control-group">
 <div class="col-lg-12 text-center">
    	<p>Instalaci&oacute;n de cableado estructurado (cable de red)</p>
 </div>
</div>

<div class="row control-group">
 <div class="col-lg-12 text-center">
    	<p>Instalaci&oacute;n IPBX y tel&eacute;fonos IP</p>
 </div>
</div>

<div class="row control-group">
 <div class="col-lg-12 text-center">
    	<p>Instalaci&oacute;n reparaci&oacute;n FTTH</p>
 </div>
</div>

<div class="row control-group">
 <div class="col-lg-12 text-center">
    	<p>Servicios inform&aacute;ticos especiales</p>
 </div>
</div>

<div class="row">
 <div class="col-lg-12 text-center">
 	<h3>Electricidad</h3>
  </div>
</div>

<div class="row control-group">
 <div class="col-lg-12 text-center">
    	<p>Instalaciones el&eacute;ctricas en baja tensi&oacute;n</p>
 </div>
</div>

<div class="row control-group">
 <div class="col-lg-12 text-center">
    	<p>Proyectos de instalaciones el&eacute;ctricas en baja tensi&oacute;n</p>
 </div>
</div>

<div class="row control-group">
 <div class="col-lg-12 text-center">
    	<p>Instalaci&oacute;n y reparaci&oacute;n de porteros autom&aacute;ticos</p>
 </div>
</div>

<div class="row control-group">
 <div class="col-lg-12 text-center">
    	<p>Licencia de apertura</p>
 </div>
</div>

<div class="row control-group">
 <div class="col-lg-12 text-center">
    	<p>Instalaciones y proyectos de fotovoltaica</p>
 </div>
</div>

<div class="row">
 <div class="col-lg-12 text-center">
 	<h3>Dom&oacute;tica</h3>
  </div>
</div>

  
<div class="row control-group">
 <div class="col-lg-12 text-center">
    	<p>Instalaci&oacute;n de c&aacute;maras IP (CCTV)</p>
 </div>
</div>

<div class="row control-group">
 <div class="col-lg-12 text-center">
    	<p>Dom&oacute;tica y automatizaci&oacute;n en el hogar</p>
 </div>
</div>


<div class="row control-group">
 <div class="col-lg-12 text-center">
    	<p>Sonido en el hogar como interfonos e hilo musical</p>
 </div>
</div>

<div class="row control-group">
 <div class="col-lg-12 text-center">
    	<p>Control de accesos, alarmas y detectores de presencia</p>
 </div>
</div>

<div class="row control-group">
 <div class="col-lg-12 text-center">
    	<p>Instalaciones contra incendios, contaminaci&oacute;n y gases t&oacute;xicos</p>
 </div>
</div>

<div class="row">
 <div class="col-lg-12 text-center">
 	<h3>Calefaci&oacute;n</h3>
  </div>
</div>

<div class="row control-group">
 <div class="col-lg-12 text-center">
    	<p>Instalaci&oacute;n de calderas y termostatos inteligentes</p>
 </div>
</div>

<div class="row control-group">
 <div class="col-lg-12 text-center">
    	<p>Instalaciones y proyectos de termosolar</p>
 </div>
</div>

</div>
</section>
