<!-- About Section -->
    <section class="success" id="nosotros">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Nosotros</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Un equipo de Ingenieros Técnicos de Telecomunicaciones e Industriales, expertos Integradores de servicios junto con nuestros experimentados Instaladores autorizados nos permienten afrontar los retos que nos planteen sus necesidades para encontrar las mejores soluciones.</p>
                </div>
                <div class="col-lg-4">
                    <p>Somos una empresa joven, dinámica y flexible que se pone siempre a su servicio. Para ello contamos con una estructura horizontal donde todas las áreas son escuchadas, en la que el aporte de cada uno es valorado y en la que el cliente es uno más de nuestro equipo. </p>
                </div>
            </div>
        </div>
    </section>
